{% extends 'base.html' %}    <!-- extends base file, background and navbar -->

{% block content %}
<section class="p-5 text-center ">
    <div class="d-flex justify-content-center ">
      <div class="text-white">
        <h1 class="mb-1">Weather Service</h1>
        <h4 class="mb-1">Enter location</h4>
          <!--  the {url 'forecast'} specifies the url where the data should be sent when searching city -->
<form method = "GET" action={% url "forecast" %}>
    {% csrf_token %}
    <p>{{ weather_input_form_must }}</p>
    <p>  </p>
    <p>{{ weather_input_form_not_must }}</p>
    <input type="submit" class="btn btn-secondary" value="Submit">
</form>

      </div>
    </div>
</section>

{% include "location_section.html" %}

{% endblock %}