        <div class="card w-85" style="color: #4B515D; border-radius: 35px; background-color: rgba(245, 245, 245, 0.7)">
          <div class="card-body p-4">
    <!-- data is a json response from the api-->
    <!-- this is a simple card template and according to data the right location information is written-->

            <div class="d-flex">
              <h6 class="flex-grow-1">{{ data.location.name}}</h6>
                {% if data.current.is_day %}
                    <i class="fa-solid fa-sun"></i>
                    {% else %}
                     <i class="fa-solid fa-moon"></i>
                    {% endif %}
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-3">
              <h6 class="display-4 mb-0 font-weight-bold avg-tmp" >{{data.forecast.forecastday.0.day.avgtemp_c}}°C </h6>
              <span class="small cards-wrap" >{{data.forecast.forecastday.0.day.condition.text}}</span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" >
                <div><i class="fas fa-wind fa-fw cards-wrap" ></i> <span class="ms-1"> {{ data.current.wind_kph}} km/h
                  </span></div>
                <div><i class="fas fa-tint fa-fw cards-wrap" ></i> <span class="ms-1"> {{ data.forecast.forecastday.0.day.daily_chance_of_rain }}% rain </span>
                </div>
                <div><i class="fas fa-sun fa-fw cards-wrap" ></i> <span class="ms-1"> {{data.current.uv }} UV </span>
                </div>
              </div>
              <div>
              </div>
            </div>

          </div>
        </div>


